/* body {
    font-family: 'Roboto', sans-serif;
  background-color: #4c43d4;
  color: #fff;
  padding: 0;
  margin: 0;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
  }
  button:hover{
    cursor: pointer;
  }
   */
